
/* Основные свойства стилей*/
html {
    overflow-x: hidden;
}

body {
    background-size: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    overflow-x: hidden;
}
li {
    list-style-type: none;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: none;
}


.section__headers {
    font-size: 48px;
    font-weight: 500;
    color: #A3CC40;
}

.container {
    max-width: 1124px;
    padding: 0 138px;
    box-sizing: border-box;
    margin: 0 auto;
}

.container_header {
    padding: 44px 89px 0px 89px;
}

/* Главная страница */

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main {
    background-image: url(../images/main/Backgroound-Picture.jpg);
    background-size: cover;
}

.main::after {
    content: '';
    display: block;
    width: 1124px;
    border: 100vw solid transparent;
    border-bottom: 150px solid  #fff;
    position: absolute;
    bottom: 0;
    pointer-events: none;
}

#logo {
    padding: 6px 44px 6px 0px;
}

.header__navigation {
    flex-grow: 1;
}

.header__topline {
    display: flex;
    align-items: flex-start;    
    margin-bottom: 7px;
} 
.header__topline_nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 63px;
}

.header__button {
    border: none; 
    background: #fff; 
    border-radius: 6px; 
    font-size: 12px; 
    min-width: 130px; 
    text-align: left;
    vertical-align: middle;
}

.header__button_icon {
    padding: 6px 8px 5px 9px;
    max-width: 10px;
}

.header__bottomline_nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 63px;
}
    
.header__nav {
    font-size: 12px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
}
.main__title {
    font-weight: 100;
    font-size: 68px;
    color: #FFFFFF;
    padding-bottom: 19px;
    margin-top: 135px;
    margin-bottom: 17px;
    text-align: center;
}
.main__subtitle {
    font-weight: normal;
    font-size: 41px;
    text-align: center;
    color: #fff;
    padding-bottom: 141px;
}
.main__footnote {
    background-color: #fff;
    align-items: center;
    border-radius: 10px;
    margin-left: auto;
    padding: 30px 47px;
    max-width: 426px;
    box-sizing: border-box;
    box-shadow: 0px 27px 39px rgba(163, 204, 64, 0.18);
}

.main__footnote_title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    
}

.main__footnote_text {
    font-weight: normal;
    font-size: 11px;
}

/* Почему мы? */

#why-we {
    margin-top: -51px;
}

.why-we__heading {
    margin: 8px 0px 94px 0px;
}
.why-we__title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 39px;
    margin-bottom: 25px;
}
.why-we__subtitle {
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 65px;
}

.why-we__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28.9%;
}

.why-we__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* Cтили таблицы */

.table__title {
    margin-top: 110px;
    margin-bottom: 96px;    
}

.table {
    width: 100%; 
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}
.table__check {
    padding: 17.5px 18px 13.5px 24px;
}
.table__top-row {
    
    font-family: 'IBM-Plex-Sans';
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color:white;
    background-color: #A3CC40;
}
.table__footer {
    font-size: 11px;
    font-weight: 400;
    color: #333333;
    text-align: center;
    padding: 33px 0px 125px 0px;
}
.table__row {
    
    color:white;
    background-color: #4C4D4F;
    font-size: 14px;
    font-weight: 400;
}
.table__row_dark {
    background-color: #373737;
}

.table__bottom__radius-left {
    border-bottom-left-radius:10px;
}
.table__bottom__radius-right {
    border-bottom-right-radius: 10px;
}
.table__cell {
    padding:  10px;
}
.table__references {
    font-size: 14px;
    font-weight: 400;
    color:white;
    text-decoration: none;
}

/* Подарок каждому */
#gift {
    background-image: url(../images/podarok/backgroung-podarok.jpg);
    background-size: cover;
    padding: 67px 0px 70px 0px;
}


.container_gift {
    padding: 66px 0px 0px 306px;
}

.gift__img {
    border-radius: 50%;
    max-width: 278px; 
    margin-top: -126px;
    float: left;
}

.gift__content {
    display: flex; 
    flex-wrap: wrap; 
    width: fit-content;
}

.gift__title {
    color: #fff;
    margin: 45px 0px 59px 138px;
}

.gift__text {
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    max-width: 548px;
    line-height: 14,3px;
    text-align: right;
    margin-left: 24px;
}

.gift__margin_toptext {
    margin: -10px 0px 21px 24px;
}

.gift__margin_text {
    margin: 0px 0px 23px 24px;
}

.gift__button {
    float: right;
    margin: 37px -2px 0px 0px;
    width: 190px;
    height: 31px;
    border: none;
    background-color: #A3CC40;
    border-radius: 6px;
    color: #fff;
}


#films {
    padding-top: 70px;
}

.container_films {
    padding-top: 69px;
}

.films__text {
    font-size: 11px;
    font-weight: 400;
    margin: 34px 0px 68px 0px;
    line-height: 14,3px;
}

.films__img {
    display: flex;
    flex-wrap: wrap;
}

.films__img_mosaic {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.films__img-mosaic:hover .container_mosaics_block{
    opacity: 1;
    transition: 0.3s;
}

.films__img_size {
    width: 282px;
    height: 282px;
}

.container-mosaics {
    position: absolute;
    width: 282px;    
}

.container_mosaics_block {
    position: absolute;
    background-color: #90D23D66;
    text-align: left;
    width: 282px;
    height: 282px;
    padding: 17px 22px;
    box-sizing: border-box; 
    opacity: 0;
    transition: 0.3s;
}

.container_mosaics_title {
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 13px; 
    display: block;  
}

.container_mosaics_text {
    font-size: 11px;
    font-weight: 400;
    line-height: 14.3px;
    color: #fff;
}

.container__product {
    padding: 89px 162px;
}

.product__text {
    font-size: 11px;
    font-weight: 400;
    line-height: 14,3px;
    margin: 38px 253px 60px 0px;
}

.product__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28.9%;
}

.product__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Отзывы */
#reviews {
    background-image: url(../images/reviews/fon.jpg)    ;
    background-size: cover;
    margin-top: 48px;
    padding-bottom: 10px;
}

.reviews__title{
    padding-top: 126px;
}

.reviews_text {
    font-size: 11px;
    font-weight: 400;
    line-height: 14,3px;
    margin: 39px 0px 75px 0px;
    max-width: 548px;   
}

.reviews__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.reviews__cards {
    display: flex;
    flex-direction: column;
    max-width: 246px;
    background-color: #97B13C;
    border-radius: 9px;
    color: #FFFFFF;
    margin-bottom: 186px;
}

.reviews__cards_title {
    font-size: 15px;    
    font-weight: 600;
    padding: 17px 8px 18px 17px;
}

.reviews__cards_text {
    font-size: 10px;
    font-weight: 400;
    padding: 0px 9px 30px 17px
}

.reviews__cards_data {
    font-size: 8px;
    font-weight: 300;
    text-align: right;
    padding: 0px 14px 9px 0px;
}

.reviews__cards-lateral {
    max-width: 210px;
    max-height: 284px;
}

/* Обратная связь*/

.container__feedback {
    padding: 0px 174px 0px 183px;
}

.feedback {
    max-width: 767px;
    margin: 43px 0px 61px 0px;
    box-shadow: 8px 9px 39px rgba(185, 185, 185, 0.37);
    border-radius: 20px;
    background-image: url(../images/feedback/fon.jpg);
}

.feedback__form {
    margin-left: 381px;
}

.feedback_title {
    font-size: 25px;
    font-weight: 500;
    color: #A3CC40;
    padding: 20px 0px 20px 70px;
    text-align: left;
}

.feedback__entry-field {
    width: 344px;
    height: 35px;
    background-color: #DEDEDE;
    border-radius: 5px;
    margin-bottom: 15px;
    color: #A1A1A1;
    font-size: 15px;
    padding-left: 15px;
    border: none;
}

.feedback__select {
    width: 361px;
}

.feedback__field-for-feedback {
    height: 120px;
    max-height: 120px;
    margin-bottom: 15px;
}

.feedback__field-for_mail {
    margin-bottom: 10px;
}

.feedback__file {
    border-radius: 5px;
    border: none;
    font-size: 14px;
    color: #A1A1A1;
    margin-bottom: 10px;
}

.feedback__pers-data {
    font-size: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.feedback__button {
    width: 361px;
    height: 40px;
    background-color: #A3CC40;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 20px; 
    border: none; 
}



/* Местоположение на карте*/

.container__map {
    padding: 0px 75px 0px 75px;
}

/* Подвал сайта*/
footer{
    background-color: #A3CC40;
    position: relative;
    top: -22px;
    color: #FFFFFF;

}
.container_footer {
    padding: 0px 209px 0px 79px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__column {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 80px;
}


.footer__text {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    max-width: 269px;
    margin: 14px 0px 26px 0px;
}

.footer_icon {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 42px;
}

.footer__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    background-color: #BEE956;
    border-radius: 50%;
    margin-right: 31px;
}

.footer__title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 22px;
}

.footer__nav {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 12px;
}

.footer_bottom-text {
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 30px;
}